# Agda build artifacts
*.agdai

# Old/superseded Sigma files (replaced by Validity5/Adequacy5 stack)
SigmaInjectivity*
Adequacy2Sigma*
Validity2Sigma*
Validity3Sigma*
LemmaForA2Sigma*

# LaTeX auxiliary files
*.aux
*.log
*.out

# Editor/temp files
*~
\#*\#
